<nav class="nav">
  <div class="nav-main">
    <div class="nav-links">
      <a href="{{ '/' | relative_url }}">首页</a>
      <a href="{{ '/tags/' | relative_url }}">标签</a>
      <a href="{{ '/about/' | relative_url }}">关于</a>
    </div>
  </div>
  <div class="nav-tag-scroll">
    <a class="nav-tag-link" href="{{ '/tags/中东/' | relative_url }}">中东</a>
    <a class="nav-tag-link" href="{{ '/tags/金融/' | relative_url }}">金融</a>
    <a class="nav-tag-link" href="{{ '/tags/经济/' | relative_url }}">经济</a>
    <a class="nav-tag-link" href="{{ '/tags/中美/' | relative_url }}">中美</a>
    <a class="nav-tag-link" href="{{ '/tags/日本/' | relative_url }}">日本</a>
  </div>
</nav>
